In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
# Load the data
data = pd.read_csv('Online_Courses.csv')
data.head()

,Unnamed: 0,Title,URL,Short Intro,Category,Sub-Category,Course Type,Language,Subtitle Languages,Skills,...,Course Short Intro,Weekly study,Premium course,What's include,Rank,Created by,Program,Number of ratings,Price,COURSE CATEGORIES
0,0,Machine Learning Specialization,https://www.coursera.org/specializations/machi...,#BreakIntoAI with Machine Learning Specializat...,Data Science,Machine Learning,Specialization,English,Subtitles: English,"Decision Trees, Artificial Neural Network, Log...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Introduction to Data Science Specialization,https://www.coursera.org/specializations/intro...,Launch your career in data science. Gain found...,Data Science,Data Analysis,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Relational Database Management S...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Data Science Fundamentals with Python and SQL ...,https://www.coursera.org/specializations/data-...,Build the Foundation for your Data Science car...,Data Science,Data Analysis,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Github, Python Programming, Jupy...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Key Technologies for Business Specialization,https://www.coursera.org/specializations/key-t...,Get Ahead with Key Business Technologies. Gain...,Business,Business Essentials,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Artificial Intelligence (AI), Bu...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Deep Learning Specialization,https://www.coursera.org/specializations/deep-...,Become a Machine Learning expert. Master the f...,Data Science,Machine Learning,Specialization,English,"Subtitles: English, Chinese (Traditional), Ara...","Artificial Neural Network, Convolutional Neura...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.columns

Index(['Unnamed: 0', 'Title', 'URL', 'Short Intro', 'Category', 'Sub-Category',
       'Course Type', 'Language', 'Subtitle Languages', 'Skills',
       'Instructors', 'Rating', 'Number of viewers', 'Duration', 'Site',
       'Program Type', 'Courses', 'Level', 'Number of Reviews',
       'Unique Projects', 'Prequisites', 'What you learn', 'Related Programs',
       'Monthly access', '6-Month access', '4-Month access', '3-Month access',
       '5-Month access', '2-Month access', 'School', 'Topics related to CRM',
       'ExpertTracks', 'FAQs', 'Course Title', 'Course URL',
       'Course Short Intro', 'Weekly study', 'Premium course',
       'What's include', 'Rank', 'Created by', 'Program', 'Number of ratings',
       'Price', 'COURSE CATEGORIES'],
      dtype='object')

In [4]:
# Drop columns
data = data.drop(columns=['Unnamed: 0', 'URL', 'Subtitle Languages', 'Program Type',
                           'Courses', 'Level', 'Number of Reviews', 'Unique Projects', 'Prequisites', 
                           'What you learn', 'Related Programs', 'Monthly access', '6-Month access', 
                           '4-Month access', '3-Month access', '5-Month access', '2-Month access', 'School',
                           'Topics related to CRM', 'ExpertTracks', 'FAQs', 'Course Title', 'Course URL',
                           'Course Short Intro', 'Weekly study', 'Premium course', "What's include", 'Rank',
                           'Created by', 'Program', 'Number of ratings', 'Price', 'COURSE CATEGORIES'])

In [5]:
# filter by site 'Coursera'
data = data[data['Site']=='Coursera']
data = data.drop(columns='Site')
data.head()

,Title,Short Intro,Category,Sub-Category,Course Type,Language,Skills,Instructors,Rating,Number of viewers,Duration
0,Machine Learning Specialization,#BreakIntoAI with Machine Learning Specializat...,Data Science,Machine Learning,Specialization,English,"Decision Trees, Artificial Neural Network, Log...","Andrew Ng ,Eddy Shyu ,Aarti Bagul ,Geoff Ladwig ,",4.9stars,"10,438",Approximately 3 months to complete
1,Introduction to Data Science Specialization,Launch your career in data science. Gain found...,Data Science,Data Analysis,Specialization,English,"Data Science, Relational Database Management S...","Rav Ahuja ,Alex Aklson ,Aije Egwaikhide ,Svetl...",4.7stars,"11,927",Approximately 5 months to complete
2,Data Science Fundamentals with Python and SQL ...,Build the Foundation for your Data Science car...,Data Science,Data Analysis,Specialization,English,"Data Science, Github, Python Programming, Jupy...","Aije Egwaikhide ,Svetlana Levitan ,Romeo Kienz...",4.6stars,"2,295",Approximately 7 months to complete
3,Key Technologies for Business Specialization,Get Ahead with Key Business Technologies. Gain...,Business,Business Essentials,Specialization,English,"Data Science, Artificial Intelligence (AI), Bu...","Rav Ahuja ,Alex Aklson ,",4.7stars,"1,232",Approximately 3 months to complete
4,Deep Learning Specialization,Become a Machine Learning expert. Master the f...,Data Science,Machine Learning,Specialization,English,"Artificial Neural Network, Convolutional Neura...","Andrew Ng ,Kian Katanforoosh ,Younes Bensouda ...",4.9stars,"129,253",Approximately 5 months to complete

In [6]:
data.columns

Index(['Title', 'Short Intro', 'Category', 'Sub-Category', 'Course Type',
       'Language', 'Skills', 'Instructors', 'Rating', 'Number of viewers',
       'Duration'],
      dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2819 entries, 0 to 2818
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              2819 non-null   object
 1   Short Intro        2775 non-null   object
 2   Category           2819 non-null   object
 3   Sub-Category       2819 non-null   object
 4   Course Type        2819 non-null   object
 5   Language           2819 non-null   object
 6   Skills             1998 non-null   object
 7   Instructors        2808 non-null   object
 8   Rating             2695 non-null   object
 9   Number of viewers  2695 non-null   object
 10  Duration           2819 non-null   object
dtypes: object(11)
memory usage: 264.3+ KB

In [8]:
# print unique Category
data['Category'].unique()

array(['Data Science', 'Business', 'Information Technology',
       'Computer Science', 'Arts and Humanities', 'Language Learning',
       'Personal Development', 'Social Sciences', 'Health',
       'Physical Science and Engineering', 'Math and Logic', '计算机科学',
       'Ciencia de Datos', 'Negocios', 'Ciencias de la Computación',
       'Negócios', 'データサイエンス', 'Tecnologia da informação'], dtype=object)

In [9]:
# Create a dictionary with the replacements
replacings = {
    '计算机科学': 'Computer Science',
    'Ciencia de Datos': 'Data Science',
    'Negocios': 'Business',
    'Ciencias de la Computación': 'Computer Science',
    'Negócios': 'Business',
    'データサイエンス': 'Data Science',
    'Tecnologia da informação': 'Computer Science'
}
# Replace the values
for key, value in replacings.items():
    data['Category'] = data['Category'].replace(key, value)

In [10]:
# print unique Category
data['Sub-Category'].unique()

array(['Machine Learning', 'Data Analysis', 'Business Essentials',
       'Data Management', 'Security', 'Software Development',
       'Design and Product', 'Cloud Computing',
       'Mobile and Web Development', 'Algorithms', 'Finance',
       'Leadership and Management', 'Music and Art', 'Learning English',
       'Entrepreneurship', 'Marketing', 'Business Strategy',
       'Personal Development', 'Governance and Society',
       'Healthcare Management', 'Networking', 'Education',
       'Computer Security and Networks', 'Nutrition', 'Public Health',
       'Probability and Statistics', 'Electrical Engineering',
       'Basic Science', 'Patient Care', 'Health Informatics',
       'Philosophy', 'Environmental Science and Sustainability',
       'Math and Logic', 'Other Languages', 'Psychology',
       'Mechanical Engineering', 'Physics and Astronomy', 'Law',
       'Biology', 'Support and Operations', 'Research Methods', '移动和网络开发',
       'Análisis de Datos', 'Liderazgo y Gestión', 'Diseño y Producto',
       'データ分析', 'Operações e suporte', 'Research', 'Economics',
       'Chemistry', 'History', 'Animal Health'], dtype=object)

In [11]:
# Create a dictionary with the replacements
replacings = {
    '移动和网络开发': 'Mobile and Web Development',
    'Análisis de Datos': 'Data Analysis',
    'Liderazgo y Gestión': 'Leadership and Management',
    'Diseño y Producto': 'Design and Product',
    'データ分析': 'Data Analysis',
    'Operações e suporte': 'Support and Operations'
}
# Replace the values
for key, value in replacings.items():
    data['Sub-Category'] = data['Sub-Category'].replace(key, value)

In [12]:
# show unique Rating
data['Rating'].unique()

array(['4.9stars', '4.7stars', '4.6stars', '4.8stars', '4.5stars',
       '4.4stars', '4.3stars', '4.2stars', '4.1stars', '3.9stars',
       '3.7stars', '5.0stars', '4.0stars', nan, '4.8', '4.9', '4.6',
       '4.7', '4.5', '5.0', '4.4', '3.7', '4.3', '3.3stars', '3.8stars',
       '3.4stars', '3.6stars', '3.1stars', '3.5stars'], dtype=object)

In [13]:
# remove stars from the rating
data['Rating'] = data['Rating'].str.replace('stars', '')
# convert to float
data['Rating'] = data['Rating'].astype(float)

In [14]:
# show unique 'Number of viewers'
data['Number of viewers'].unique()

array(['10,438 ', '11,927 ', '2,295 ', ..., '723 ', '2,810 ', '4,261 '],
      dtype=object)

In [15]:
# convert to integer, keeping NaN values
data['Number of viewers'] = pd.to_numeric(data['Number of viewers'], errors='coerce', downcast='integer')

In [16]:
# show unique 'Duration'
data['Duration'].unique()

array(['Approximately 3 months to complete',
       'Approximately 5 months to complete',
       'Approximately 7 months to complete',
       'Approximately 2 months to complete',
       'Approximately 4 months to complete',
       'Approximately 6 months to complete',
       'Approximately 8 months to complete',
       'Approximately 11 months to complete',
       'Approximately 10 months to complete',
       'Approximately 9 months to complete',
       'Approximately 12 months to complete',
       'Approximately 1 month to complete', '6 months at 10 hours a week',
       '5 months at 3 hours a week', '4 months at 10 hours a week',
       '3 months at 10 hours a week', '5 months at 10 hours a week',
       '12 months at 10 hours a week', '6 months at 3 hours a week',
       '7 months at 6 hours a week', '2 months at 10 hours a week',
       '8 months at 3 hours a week', '7 months at 2 hours a week',
       '4 months at 4 hours a week', '4 months at 5 hours a week',
       '8 months at 6 hours a week', '8 months at 7 hours a week',
       '6 months at 6 hours a week', '7 months at 3 hours a week',
       '5 months at 4 hours a week', '12 months at 4 hours a week',
       '4 months at 7 hours a week', '7 months at 5 hours a week',
       '6 months at 2 hours a week', '6 months at 4 hours a week',
       '2 months at 5 hours a week', '11 months at 1 hours a week',
       '6 months at 1 hours a week', '6 months at 5 hours a week',
       '9 months at 5 hours a week', '2 months at 4 hours a week',
       '8 months at 5 hours a week', '10 months at 3 hours a week',
       '13 months at 2 hours a week', '1 months at 2 hours a week',
       'Flexible schedule', '1 months at 4 hours a week',
       '6 months at 8 hours a week', 'Approx. 23 hours to complete',
       'Approx. 14 hours to complete', 'Approx. 12 hours to complete',
       'Approx. 11 hours to complete', 'Approx. 10 hours to complete',
       'Approx. 13 hours to complete', 'Approx. 3 hours to complete',
       'Approx. 48 hours to complete', 'Approx. 9 hours to complete',
       'Approx. 40 hours to complete', 'Approx. 37 hours to complete',
       'Approx. 15 hours to complete', 'Approx. 7 hours to complete',
       'Approx. 2 hours to complete', 'Approx. 21 hours to complete',
       'Approx. 8 hours to complete', 'Approx. 5 hours to complete',
       'Approx. 20 hours to complete', 'Approx. 16 hours to complete',
       'Approx. 19 hours to complete', 'Approx. 46 hours to complete',
       'Approx. 32 hours to complete', 'Approx. 25 hours to complete',
       'Approx. 44 hours to complete', 'Approx. 17 hours to complete',
       'Approx. 6 hours to complete', 'Approx. 80 hours to complete',
       'Approx. 22 hours to complete', 'Approx. 18 hours to complete',
       'Approx. 34 hours to complete', 'Approx. 27 hours to complete',
       'Approx. 28 hours to complete', 'Approx. 70 hours to complete',
       'Approx. 75 hours to complete', 'Approx. 53 hours to complete',
       'Approx. 29 hours to complete', 'Approx. 35 hours to complete',
       'Approx. 31 hours to complete', 'Approx. 85 hours to complete',
       'Approx. 30 hours to complete', 'Approx. 33 hours to complete',
       'Approx. 24 hours to complete', 'Approx. 26 hours to complete',
       'Approx. 4 hours to complete', 'Approx. 36 hours to complete',
       'Approx. 71 hours to complete', 'Approx. 39 hours to complete',
       'Approx. 57 hours to complete', 'Approx. 49 hours to complete',
       'Approx. 58 hours to complete', 'Approx. 38 hours to complete',
       'Approx. 43 hours to complete', 'Approx. 42 hours to complete',
       'Approx. 93 hours to complete', 'Approx. 127 hours to complete',
       'Approx. 62 hours to complete', 'Approx. 66 hours to complete',
       '1 Hour', '2 hours', '2 horas', '30 Minutes', '1.5 hours',
       '40 minutes', '1 hour', '1.5 hours ', '45 minutes',
       'Approx. 55 hours to complete', 'Approx. 56 hours to complete',
       'Approx. 52 hours to complete', 'Approx. 54 hours to complete',
       'Approx. 1 hour to complete', 'Approx. 47 hours to complete',
       'Approx. 105 hours to complete', 'Approx. 41 hours to complete',
       'Approx. 60 hours to complete', 'Approx. 63 hours to complete'],
      dtype=object)

In [17]:
# extract ' at n hours a week' from the duration
mask = data['Duration'].str.extract('.*'+'(\d+)'+' hours a week')[0].notna()
hours_a_week = data['Duration'].str.extract('.*'+'(\d+)'+' hours a week')[0][mask].astype(int)
hours_a_day = hours_a_week.mean()/7
hours_a_day

0.33996383363471966

In [18]:
# clean duration column
data['Duration'] = data['Duration'].str.replace('Approximately ', '')
data['Duration'] = data['Duration'].str.replace('Approx. ', '')
data['Duration'] = data['Duration'].str.replace('Estimated ', '')
data['Duration'] = data['Duration'].str.replace('time', '')
data['Duration'] = data['Duration'].str.replace(' to complete', '')
# remove the ' at n hours a week' from the duration
data['Duration'] = data['Duration'].str.replace(' at \.?\d+ hours a week', '', regex=True)

In [19]:
# show unique 'Duration'
data['Duration'].unique()

array(['3 months', '5 months', '7 months', '2 months', '4 months',
       '6 months', '8 months', '11 months', '10 months', '9 months',
       '12 months', '1 month', '13 months', '1 months',
       'Flexible schedule', '23 hours', '14 hours', '12 hours',
       '11 hours', '10 hours', '13 hours', '3 hours', '48 hours',
       '9 hours', '40 hours', '37 hours', '15 hours', '7 hours',
       '2 hours', '21 hours', '8 hours', '5 hours', '20 hours',
       '16 hours', '19 hours', '46 hours', '32 hours', '25 hours',
       '44 hours', '17 hours', '6 hours', '80 hours', '22 hours',
       '18 hours', '34 hours', '27 hours', '28 hours', '70 hours',
       '75 hours', '53 hours', '29 hours', '35 hours', '31 hours',
       '85 hours', '30 hours', '33 hours', '24 hours', '26 hours',
       '4 hours', '36 hours', '71 hours', '39 hours', '57 hours',
       '49 hours', '58 hours', '38 hours', '43 hours', '42 hours',
       '93 hours', '127 hours', '62 hours', '66 hours', '1 Hour',
       '2 horas', '30 Minutes', '1.5 hours', '40 minutes', '1 hour',
       '1.5 hours ', '45 minutes', '55 hours', '56 hours', '52 hours',
       '54 hours', '47 hours', '105 hours', '41 hours', '60 hours',
       '63 hours'], dtype=object)

In [20]:
# for every string
mask = data['Duration'].str.extract('(\d+)'+' months')[0].notna()
data.loc[mask, 'Duration'] = data['Duration'].str.extract('(\d+)'+' months')[0][mask].astype(int) * 30
mask = data['Duration'].str.extract('(\d+)'+' month')[0].notna()
data.loc[mask, 'Duration'] = data['Duration'].str.extract('(\d+)'+' month')[0][mask].astype(int) * 30
data['Duration'] = data['Duration'].astype(str)

In [21]:
# show unique 'Duration'
data['Duration'].unique()

array(['90', '150', '210', '60', '120', '180', '240', '330', '300', '270',
       '360', '30', '390', 'Flexible schedule', '23 hours', '14 hours',
       '12 hours', '11 hours', '10 hours', '13 hours', '3 hours',
       '48 hours', '9 hours', '40 hours', '37 hours', '15 hours',
       '7 hours', '2 hours', '21 hours', '8 hours', '5 hours', '20 hours',
       '16 hours', '19 hours', '46 hours', '32 hours', '25 hours',
       '44 hours', '17 hours', '6 hours', '80 hours', '22 hours',
       '18 hours', '34 hours', '27 hours', '28 hours', '70 hours',
       '75 hours', '53 hours', '29 hours', '35 hours', '31 hours',
       '85 hours', '30 hours', '33 hours', '24 hours', '26 hours',
       '4 hours', '36 hours', '71 hours', '39 hours', '57 hours',
       '49 hours', '58 hours', '38 hours', '43 hours', '42 hours',
       '93 hours', '127 hours', '62 hours', '66 hours', '1 Hour',
       '2 horas', '30 Minutes', '1.5 hours', '40 minutes', '1 hour',
       '1.5 hours ', '45 minutes', '55 hours', '56 hours', '52 hours',
       '54 hours', '47 hours', '105 hours', '41 hours', '60 hours',
       '63 hours'], dtype=object)

In [22]:
data['Duration'] = data['Duration'].str.replace('(\d*\.?\d+) Minutes', '1', regex=True)
data['Duration'] = data['Duration'].str.replace('(\d*\.?\d+) minutes', '1', regex=True)
data['Duration'] = data['Duration'].str.replace('(\d*\.?\d+) minutes', '1', regex=True)

In [23]:
data['Duration'].unique()

array(['90', '150', '210', '60', '120', '180', '240', '330', '300', '270',
       '360', '30', '390', 'Flexible schedule', '23 hours', '14 hours',
       '12 hours', '11 hours', '10 hours', '13 hours', '3 hours',
       '48 hours', '9 hours', '40 hours', '37 hours', '15 hours',
       '7 hours', '2 hours', '21 hours', '8 hours', '5 hours', '20 hours',
       '16 hours', '19 hours', '46 hours', '32 hours', '25 hours',
       '44 hours', '17 hours', '6 hours', '80 hours', '22 hours',
       '18 hours', '34 hours', '27 hours', '28 hours', '70 hours',
       '75 hours', '53 hours', '29 hours', '35 hours', '31 hours',
       '85 hours', '30 hours', '33 hours', '24 hours', '26 hours',
       '4 hours', '36 hours', '71 hours', '39 hours', '57 hours',
       '49 hours', '58 hours', '38 hours', '43 hours', '42 hours',
       '93 hours', '127 hours', '62 hours', '66 hours', '1 Hour',
       '2 horas', '1', '1.5 hours', '1 hour', '1.5 hours ', '55 hours',
       '56 hours', '52 hours', '54 hours', '47 hours', '105 hours',
       '41 hours', '60 hours', '63 hours'], dtype=object)

In [24]:
mask = data['Duration'].str.extract('(\d+)'+' Hour')[0].notna()
mask = mask | data['Duration'].str.extract('(\d+)'+' horas')[0].notna()
mask = mask | data['Duration'].str.extract('(\d+)'+' hour')[0].notna()
mask = mask | data['Duration'].str.extract('(\d+)'+' hours')[0].notna()
data.loc[mask, 'Duration'] = (data['Duration'].str.extract('(\d+)'+'.*')[0][mask].astype(int) / hours_a_day).round()

In [25]:
data['Duration'] = pd.to_numeric(data['Duration'], errors='coerce')

In [26]:
data['Duration'].unique()

array([ 90., 150., 210.,  60., 120., 180., 240., 330., 300., 270., 360.,
        30., 390.,  nan,  68.,  41.,  35.,  32.,  29.,  38.,   9., 141.,
        26., 118., 109.,  44.,  21.,   6.,  62.,  24.,  15.,  59.,  47.,
        56., 135.,  94.,  74., 129.,  50.,  18., 235.,  65.,  53., 100.,
        79.,  82., 206., 221., 156.,  85., 103.,  91., 250.,  88.,  97.,
        71.,  76.,  12., 106., 209., 115., 168., 144., 171., 112., 126.,
       124., 274., 374., 182., 194.,   3.,   1., 162., 165., 153., 159.,
       138., 309., 121., 176., 185.])

In [27]:
data.head()

,Title,Short Intro,Category,Sub-Category,Course Type,Language,Skills,Instructors,Rating,Number of viewers,Duration
0,Machine Learning Specialization,#BreakIntoAI with Machine Learning Specializat...,Data Science,Machine Learning,Specialization,English,"Decision Trees, Artificial Neural Network, Log...","Andrew Ng ,Eddy Shyu ,Aarti Bagul ,Geoff Ladwig ,",4.9,NaN,90.0
1,Introduction to Data Science Specialization,Launch your career in data science. Gain found...,Data Science,Data Analysis,Specialization,English,"Data Science, Relational Database Management S...","Rav Ahuja ,Alex Aklson ,Aije Egwaikhide ,Svetl...",4.7,NaN,150.0
2,Data Science Fundamentals with Python and SQL ...,Build the Foundation for your Data Science car...,Data Science,Data Analysis,Specialization,English,"Data Science, Github, Python Programming, Jupy...","Aije Egwaikhide ,Svetlana Levitan ,Romeo Kienz...",4.6,NaN,210.0
3,Key Technologies for Business Specialization,Get Ahead with Key Business Technologies. Gain...,Business,Business Essentials,Specialization,English,"Data Science, Artificial Intelligence (AI), Bu...","Rav Ahuja ,Alex Aklson ,",4.7,NaN,90.0
4,Deep Learning Specialization,Become a Machine Learning expert. Master the f...,Data Science,Machine Learning,Specialization,English,"Artificial Neural Network, Convolutional Neura...","Andrew Ng ,Kian Katanforoosh ,Younes Bensouda ...",4.9,NaN,150.0

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2819 entries, 0 to 2818
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              2819 non-null   object
 1   Short Intro        2775 non-null   object
 2   Category           2819 non-null   object
 3   Sub-Category       2819 non-null   object
 4   Course Type        2819 non-null   object
 5   Language           2819 non-null   object
 6   Skills             1998 non-null   object
 7   Instructors        2808 non-null   object
 8   Rating             2695 non-null   float64
 9   Number of viewers  1547 non-null   float64
 10  Duration           2817 non-null   float64
dtypes: float64(3), object(8)
memory usage: 264.3+ KB

In [29]:
# save the cleaned data
data.to_csv('Coursera_Cleaned_v1.csv', index=False)